spring:
  application:
    name: matchforge-api
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/matchforge}
    username: ${DB_USERNAME:matchforge}
    password: ${DB_PASSWORD:matchforge}
    hikari:
      max-lifetime: 240000
      keepalive-time: 30000
      idle-timeout: 60000
      minimum-idle: 0
      maximum-pool-size: 5
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

server:
  port: ${SERVER_PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info
